* {
  box-sizing: border-box;
}

body {
  background-color: #dfdfdf;
  font-family: sans-serif;
  margin: 3rem;
}

input, body, html {
  font-size: 16px;
}

h1, h2, h3, h4 {
  color: #333333;
  margin-top: 0;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 1em auto 0;
  border-radius: 2px;
  display: block;
  padding: 10px;
  width: 100%;
}

label {
  margin-right: 1rem;
  font-size: 18px;
}

#root {
  max-width: 420px;
  margin: 0 auto;
}

.copy--small {
  color: rgba(0,0,0,0.5);
  font-style: italic;
  font-size: 13px;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list__item {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 4px;
  margin: 0 0 2rem;
  padding: 1rem;
  width: 100%;
}

.list__actions {
  text-align: right;
}

.btn {
  border: 1px solid #800040;
  background-color: #800040;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  margin: 0 0 0 1rem;
  cursor: pointer;
  font: inherit;
  color: white;
}

  .btn:hover {
    background-color: #9c1458;
    border-color: #9c1458;
  }

  .btn--alt {
    background-color: transparent;
    color: #800040;
  }

  .btn--alt:hover {
    background-color: #f8dae9;
  }

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  left: calc(50% - 45%);
  border-radius: 6px;
  text-align: center;
  position: fixed;
  padding: 1rem;
  width: 90%;
  z-index: 10;
  top: 20vh;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}

.form {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 1em;
  margin: 2rem auto;
}